/*
For each CSS file (these should be clearly different in each file):
A color palette of no more than five colors (choose colors that work well together)
Typeface / Font (no more than two typefaces)
Header and footer sizes
One design should be a static width, the other should adjust to always fit the width of the browser (hint: set width with pixels or percentage)
One should utilize background images, the other should just rely on a background-color
The text should be easily readable (don't put dark text on a dark background, make a readable size, etc.)
Use good padding and margins on both, give the content some space.
Alter the layouts of the two designs, including the positioning of elements
NO SOUND
*/


body {
    margin: auto;
    background-color: lightgray;
    width: static;
}
.main-section {
    padding: 5px;
    background-color: navy;
}
#main-title {
    color: whitesmoke;
    text-align: center;
}
.main-nav {
    background-color: lightskyblue;
    
}
.main-nav nav {
    align-items: center;
}
.main-nav ul {
    margin: auto;
    padding: 15px;
    list-style-type: none;
    overflow: hidden;
    
}
.main-nav header nav ul li a {
    float: left;
    text-decoration: none;
    color: grey;
    padding: 0 15px;
}
.main-heading,
.main-nav,
.main-section,
h3 {
    text-align: center;
    font-family: cursive;
}
.main-info {
    font-family: arial;
}
.main-info,
.main-title {
    text-align: center;
}
p {
    padding: 15px;
}
table#main-table {
    box-align: center;
}
table#main-table tr {
    text-align: left;
}
footer {
    text-align: center;
    padding-top: 15px;
}

