/*
For each CSS file (these should be clearly different in each 
file):
    A color palette of no more than five colors (choose colors 
        that work well together)
    Typeface / Font (no more than two typefaces)
        Header and footer sizes
    One design should be a static width, the other should adjust 
        to always fit the width of the browser (hint: set width with 
        pixels or percentage)
    One should utilize background images, the other should just 
        rely on a background-color
    The text should be easily readable (don't put dark text on a 
        dark background, make a readable size, etc.)
    Use good padding and margins on both, give the content some 
        space.
    Alter the layouts of the two designs, including the positioning
        of elements
    NO SOUND
*/

html {
    background-color: grey;
}
body {
    background-image: url("/assets/images/bearlake.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 800px 900px;
    width: 700px;
    margin: auto;
    position: static; 
}
section {
    width: 650px;
    margin: auto;
}
.main-section {
    color: ivory;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    border: ivory solid 3px;
    border-radius: 50px;
    padding: 5px;
}
.main-nav {
    margin: auto;
    padding: 5px;
}
.main-nav header nav ul {
    list-style-type: none;
    margin: auto;
    clear: left right;
}
.main-nav header nav ul li a {
    text-emphasis: none;
    text-decoration: none; 
    color: ivory;
    margin: auto;
    padding: 10px 60px;
    float: left;
}
.main-nav header nav ul li a:hover {
    background-color:grey;
    border-radius: 20px;
}
.main-heading {
    color: ivory;
    text-align: center;
    overflow: none;
}
.main-heading h2 {
    padding: 10px;
    margin: 50px auto 40px auto;
    width: 250px;
    border: ivory 1px solid;
    border-radius: 10px;
}
.main-info {
    color: ivory;
}
.main-info p {
    font-family: arial;
    text-indent: 25px;
    padding: 10px;
}
.main-info table#main-table {
    float:right;
    padding: 5px;
    border: ivory 2px solid;
    border-radius: 15px;
    margin: 0 5px;
}
.main-info table#main-table th {
    padding: 5px;
}
.main-title {
    color: ivory;
    text-align: center;
}
.main-title img {
    opacity: .8;
    size: 500px 125px;
}
footer {
    color: ivory;
    text-align: center;
    padding-bottom: 20px;
}