html {
    background-color: rgba(30, 61, 53, 0.644);
}
body {
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 800px 900px;
    width: 700px;
    max-width: 700px;
    min-width: 300px;
    margin: auto;
    position: static; 
}
section {
    width: 650px;
    margin: auto;
}
#numresponse,
#ageresponse {
    padding-top: 5px;
    padding-bottom: 40px;
}
.main-section {
    color: rgb(34, 88, 81);
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    border: rgb(248, 248, 231) solid 3px;
    border-radius: 50px;
    padding: 5px;
}
.main-nav {
    margin: auto;
    margin-top: 10px;
    padding: 5px;  
}
.main-nav header nav ul {
    list-style-type: none;
    margin: auto;
    clear: left right;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.main-nav header nav ul li a {
    text-emphasis: none;
    text-decoration: none; 
    color: rgb(83, 111, 121);
    margin: auto; 
}
.main-nav header nav ul li a:hover {
    background-color:  rgb(248, 248, 231);
    border-radius: 20px;
    padding: 5px;
}
.main-heading {
    color: rgb(34, 88, 81);
    text-align: center;
    overflow: none;
}
.main-heading h2 {
    padding: 10px;
    margin: 50px auto 40px auto;
    width: 250px;
    border-bottom:  rgb(248, 248, 231) 1px solid;
}
.main-info {
    color: black;
}
.main-info p {
    font-family: arial;
    text-indent: 25px;
    padding: 10px;
}
.main-info table#main-table {
    float:right;
    padding: 5px;
    border:  rgb(248, 248, 231) 2px solid;
    border-radius: 15px;
    margin: 0px 7px 5px 0px;
    text-align: center;
}
.main-info table#main-table th {
    padding: 5px;
}
.main-title {
    color:  black;
    text-align: center;
}
.main-title img {
    size: 500px 125px;
}
footer {
    color:  black;
    text-align: center;
    padding-bottom: 20px;
}
